<html>
  <head>
    <title>Giới thiệu sản phẩm</title>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'
    />
    <style>
      body { margin: 0; padding: 0; min-width: 100%; font-family: Arial,
      sans-serif; font-size: 16px; line-height: 1.5; background-color: #FAFAFA;
      color: #222222; } .container { max-width: 800px; margin: 0 auto;
      background-color: #ffffff; } .header { padding: 24px; color: black;
      text-align: center; background-color: #ededed; } .header h1 { margin: 0;
      font-size: 28px; } .footer { background-color: #f6f6f6; padding: 24px;
      color: #000; text-align: left; font-size: 14px; line-height: 1.6; }
      .footer p { margin: 0 0 8px; } .footer a { color: #000; text-decoration:
      none; } .footer a:hover { text-decoration: underline; } .btn { display:
      inline-block; padding: 10px 20px; margin-top: 12px; background-color:
      #e63946; color: white; text-decoration: none; border-radius: 5px;
      text-align: center; font-weight: bold; } .btn:hover { background-color:
      #d62c1a; } .products { display: flex; flex-wrap: wrap; justify-content:
      space-between; } .product { width: 32%; margin-bottom: 20px;
      background-color: #f9f9f9; padding: 16px; border-radius: 8px; box-shadow:
      0 4px 8px rgba(0, 0, 0, 0.1); text-align: center; box-sizing: border-box;
      } .product .imgP { width: 100%; height: auto; border-radius: 8px;
      margin-bottom: 12px; } .product h3 { margin: 0; font-size: 18px; }
      .product .price { font-size: 20px; font-weight: bold; color: #e63946; }
      .truck-icon { width: 35px; height: 29px; margin-right: 8px; } .delivery {
      display: inline-flex; align-items: center; }
    </style>

  </head>

  <body>
    <div class='container'>
      <!-- Header with company logo and name -->
      <a
        href='https://www.ngananhphat.com/'
        target='_blank'
        style='text-decoration: none'
      >
        <div class='header'>
          <img
            src='https://www.ngananhphat.com/vnt_upload/product/05_2020/ngananhphat_LOGO.png'
            alt='Logo'
            style='max-width: 200px'
          />
          <h1>NGÂN ANH PHÁT CO.,LTD</h1>
          <p>Đây là một số sản phẩm ở công ty chúng tôi</p>
        </div>
      </a>

      <!-- Product Listings -->
      <!-- Product 1 -->
      <div class='products'>
        <!-- Product 1 -->
        <div class='product'>
          <img
            src='https://www.ngananhphat.com/vnt_upload/product/10_2024/NDBM01_D25_d6_e6.png'
            alt='Sản phẩm 1'
            class='imgP'
          />
          <h3>Tên Sản Phẩm 1</h3>
          <p class='delivery'>
            <img
              src='https://www.iconpacks.net/icons/1/free-truck-icon-1058-thumb.png'
              alt='Xe Tải'
              class='truck-icon'
            />

            4-6 ngày
          </p>
          <p class='price'>86,176 VNĐ</p>
          <a
            href='https://www.ngananhphat.com/vn/khop-noi-truc-ndbm01-d32-d8-e8.html'
            target='_blank'
            class='btn'
          >Xem ngay</a>
        </div>

        <!-- Product 2 -->
        <div class='product'>
          <img
            src='https://www.ngananhphat.com/vnt_upload/product/06_2021/co-le-luc-tohnichi-ql-qle-series_1.jpg'
            alt='Sản phẩm 2'
            class='imgP'
          />
          <h3>Tên Sản Phẩm 2</h3>
          <p class='delivery'>
            <img
              src='https://www.iconpacks.net/icons/1/free-truck-icon-1058-thumb.png'
              alt='Xe Tải'
              class='truck-icon'
            />
            4-6 ngày
          </p>
          <p class='price'>99,172 VNĐ</p>
          <a
            href='https://www.ngananhphat.com/vn/khop-noi-truc-ndbm01-d32-d8-e8.html'
            target='_blank'
            class='btn'
          >Xem ngay</a>
        </div>

        <!-- Product 3 -->
        <div class='product'>
          <img
            src='https://www.ngananhphat.com/vnt_upload/product/10_2020/bac-dan-dai-loan.jpg'
            alt='Sản phẩm 3'
            class='imgP'
          />
          <h3>Tên Sản Phẩm 3</h3>
          <p class='delivery'>
            <img
              src='https://www.iconpacks.net/icons/1/free-truck-icon-1058-thumb.png'
              alt='Xe Tải'
              class='truck-icon'
            />
            4-6 ngày
          </p>
          <p class='price'>122,015 VNĐ</p>
          <a
            href='https://www.ngananhphat.com/vn/khop-noi-truc-ndbm01-d32-d8-e8.html'
            target='_blank'
            class='btn'
          >Xem ngay</a>
        </div>
      </div>

      <!-- Product Listings -->
      <!-- Product 1 -->
      <div class='products'>
        <!-- Product 1 -->
        <div class='product'>
          <img
            src='https://www.ngananhphat.com/vnt_upload/product/10_2024/NDBM01_D25_d6_e6.png'
            alt='Sản phẩm 1'
            class='imgP'
          />
          <h3>Tên Sản Phẩm 1</h3>
          <p class='delivery'>
            <img
              src='https://www.iconpacks.net/icons/1/free-truck-icon-1058-thumb.png'
              alt='Xe Tải'
              class='truck-icon'
            />
            4-6 ngày
          </p>
          <p class='price'>86,176 VNĐ</p>
          <a
            href='https://www.ngananhphat.com/vn/khop-noi-truc-ndbm01-d32-d8-e8.html'
            target='_blank'
            class='btn'
          >Xem ngay</a>
        </div>

        <!-- Product 2 -->
        <div class='product'>
          <img
            src='https://www.ngananhphat.com/vnt_upload/product/06_2021/co-le-luc-tohnichi-ql-qle-series_1.jpg'
            alt='Sản phẩm 2'
            class='imgP'
          />
          <h3>Tên Sản Phẩm 2</h3>
          <p class='delivery'>
            <img
              src='https://www.iconpacks.net/icons/1/free-truck-icon-1058-thumb.png'
              alt='Xe Tải'
              class='truck-icon'
            />
            4-6 ngày
          </p>
          <p class='price'>99,172 VNĐ</p>
          <a
            href='https://www.ngananhphat.com/vn/khop-noi-truc-ndbm01-d32-d8-e8.html'
            target='_blank'
            class='btn'
          >Xem ngay</a>
        </div>

        <!-- Product 3 -->
        <div class='product'>
          <img
            src='https://www.ngananhphat.com/vnt_upload/product/10_2020/bac-dan-dai-loan.jpg'
            alt='Sản phẩm 3'
            class='imgP'
          />
          <h3>Tên Sản Phẩm 3</h3>
          <p class='delivery'>
            <img
              src='https://www.iconpacks.net/icons/1/free-truck-icon-1058-thumb.png'
              alt='Xe Tải'
              class='truck-icon'
            />
            4-6 ngày
          </p>
          <p class='price'>122,015 VNĐ</p>
          <a
            href='https://www.ngananhphat.com/vn/khop-noi-truc-ndbm01-d32-d8-e8.html'
            target='_blank'
            class='btn'
          >Xem ngay</a>
        </div>
      </div>

      <!-- Footer with contact and social media links -->
      <div class='footer'>
        <p><strong>CÔNG TY TNHH NGÂN ANH PHÁT</strong></p>
        <p>Địa chỉ: D3, KP3, Phường Tam Hòa, TP.Biên Hòa - Đồng Nai</p>
        <p>Điện thoại: (+84) 2513 857 563</p>
        <p>Email: info@ngananhphat.com</p>
        <p>Website:
          <a
            href='https://www.ngananhphat.com'
          >https://www.ngananhphat.com</a></p>

      </div>
    </div>
  </body>
</html>